body{
    /* background:#c1c1c1; */
}
ul{
    background: #ffffff;
    color: #777777;
    /* padding: 30px 30px; */
   width: 1923px;
   height: 85px;
    border-bottom: 2px solid #777777;
    position: relative;
}
.name{
    float: left;
    background:#53a6d0;
    color: aliceblue;
    height: 69px;
    width: 250px;
    text-align: center;
    line-height: 68px;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    top:0px;
    left: 250px;
}
.about{
    float: right;
}
li{
    display: inline;
    padding: 8px;
    position: relative;
    top:23px;
    right:250px;
    font-weight: bold;
    font-size: 1.5em;
}
section{
    width: 960px;
    height: 480px;
    margin:10% 20% 20% 20%;
    background-color: #ffffff;
}
h1{
    font-size: 2em;
    font-weight: bold;
    color:#53a6d0;
    padding: 20px 10px;
    /* border-bottom: 2px solid #777777; */
    
}
hr{
    margin: 0 10px 0 10px;
}
img{
    margin: 20px 10px;
    float: left;
}
.p1{
    margin: 20px;
    letter-spacing: 3px;
}
p{
    margin: 20px;
    letter-spacing: 3px;
}
footer{
     width: 1923px;
     height: 85px;
     background:#4a4949 ;
     border-top: 7px solid #53a6d0;
} 